<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - MotorMarket</title>
    {% load static %}
    <link href="{% static 'gestion_vehiculos/css/login.css' %}" rel="stylesheet">
</head>
<body>
    <section>
        <h1>Iniciar Sesión</h1>

        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="inputbox">
                <ion-icon name="person"></ion-icon>
                <input type="text" name="username" required placeholder="Ingresa tu nombre">
                <label for="username">Nombre de Usuario:</label>
            </div>
            <div class="inputbox">
                <ion-icon name="mail"></ion-icon>
                <input type="email" name="email" required placeholder="Ingresa tu correo">
                <label for="email">Correo Electrónico:</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock"></ion-icon>
                <input type="password" name="password" required placeholder="Ingresa tu contraseña">
                <label for="password">Contraseña:</label>
            </div>
            <button type="submit" class="btn">Ingresar</button>
        </form>

        <div class="register">
            <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
        </div>
    </section>
</body>
</html>
